root = true

[*.cs]

# Local variables -> camelCase
dotnet_naming_symbols.local_variables.applicable_kinds = local
dotnet_naming_symbols.local_variables.applicable_accessibilities = *
dotnet_naming_rule.local_variables_should_be_camel_case.symbols = local_variables
dotnet_naming_rule.local_variables_should_be_camel_case.style = camel_case
dotnet_naming_rule.local_variables_should_be_camel_case.severity = warning

# Parameters -> camelCase
dotnet_naming_symbols.parameters.applicable_kinds = parameter
dotnet_naming_rule.parameters_should_be_camel_case.symbols = parameters
dotnet_naming_rule.parameters_should_be_camel_case.style = camel_case
dotnet_naming_rule.parameters_should_be_camel_case.severity = warning

# Methods -> PascalCase
dotnet_naming_symbols.methods.applicable_kinds = method
dotnet_naming_rule.methods_should_be_pascal_case.symbols = methods
dotnet_naming_rule.methods_should_be_pascal_case.style = pascal_case
dotnet_naming_rule.methods_should_be_pascal_case.severity = warning

# Properties -> PascalCase
dotnet_naming_symbols.properties.applicable_kinds = property
dotnet_naming_rule.properties_should_be_pascal_case.symbols = properties
dotnet_naming_rule.properties_should_be_pascal_case.style = pascal_case
dotnet_naming_rule.properties_should_be_pascal_case.severity = warning

# Types -> PascalCase
dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case
dotnet_naming_rule.types_should_be_pascal_case.severity = warning

# Naming styles
dotnet_naming_style.camel_case.capitalization = camel_case
dotnet_naming_style.pascal_case.capitalization = pascal_case